#### Reading Test Scores 
The Programme for International Student Assessment (PISA) is a test given every three years to 15-year-old students from around the world to evaluate their performance in mathematics, reading, and science. 
The datasets pisa2009train.csv and pisa2009test.csv contain information about the demographics and schools for American students taking the exam, derived from 2009 PISA Public-Use Data Files distributed by the United States National Center for Education Statistics (NCES).
Each row in the datasets pisa2009train.csv and pisa2009test.csv represents one student taking the exam. The datasets have the following variables:

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
from sklearn.cross_validation import train_test_split
import math

In [2]:
pd.__version__

u'0.18.1'

In [3]:
##Read in data
train=pd.read_csv('pisa2009train.csv')
test=pd.read_csv('pisa2009test.csv')
train.shape

(3663, 24)

In [4]:
test.shape

(1570, 24)

In [5]:
train.head()

,grade,male,raceeth,preschool,expectBachelors,motherHS,motherBachelors,motherWork,fatherHS,fatherBachelors,...,englishAtHome,computerForSchoolwork,read30MinsADay,minutesPerWeekEnglish,studentsInEnglish,schoolHasLibrary,publicSchool,urban,schoolSize,readingScore
0,11,1,NaN,NaN,0.0,NaN,NaN,1.0,NaN,NaN,...,0.0,1.0,0.0,225.0,NaN,1.0,1,1,673.0,476.00
1,11,1,White,0.0,0.0,1.0,1.0,1.0,1.0,0.0,...,1.0,1.0,1.0,450.0,25.0,1.0,1,0,1173.0,575.01
2,9,1,White,1.0,1.0,1.0,1.0,1.0,1.0,NaN,...,1.0,1.0,0.0,250.0,28.0,1.0,1,0,1233.0,554.81
3,10,0,Black,1.0,1.0,0.0,0.0,1.0,1.0,0.0,...,1.0,1.0,1.0,200.0,23.0,1.0,1,1,2640.0,458.11
4,10,1,Hispanic,1.0,0.0,1.0,0.0,1.0,1.0,0.0,...,1.0,1.0,1.0,250.0,35.0,1.0,1,1,1095.0,613.89

####  1.2 What is the average reading test score of males and females in th training set?

In [6]:
# average reading score of males 
train.readingScore[train.male==1].mean()

483.53247863247805

In [7]:
#Average female reading score
train.readingScore[train.male==0].mean()

512.94063093244

#### Locate missing Values
Which variables are missing data in at least one observation in the training set?

In [8]:
train.isnull().sum()

grade                      0
male                       0
raceeth                   35
preschool                 56
expectBachelors           62
motherHS                  97
motherBachelors          397
motherWork                93
fatherHS                 245
fatherBachelors          569
fatherWork               233
selfBornUS                69
motherBornUS              71
fatherBornUS             113
englishAtHome             71
computerForSchoolwork     65
read30MinsADay            34
minutesPerWeekEnglish    186
studentsInEnglish        249
schoolHasLibrary         143
publicSchool               0
urban                      0
schoolSize               162
readingScore               0
dtype: int64

Linear regression discards observations with missing data, so we will remove all such observations from the training and testing sets. Later in the course, we will learn about imputation, which deals with missing data by filling in missing values with plausible information.

In [9]:
##Drop missing values
train.dropna(inplace=True)
test.dropna(inplace=True)

In [10]:
test.shape

(990, 24)

In [11]:
train.shape

(2414, 24)

In [12]:
train.head(5)

,grade,male,raceeth,preschool,expectBachelors,motherHS,motherBachelors,motherWork,fatherHS,fatherBachelors,...,englishAtHome,computerForSchoolwork,read30MinsADay,minutesPerWeekEnglish,studentsInEnglish,schoolHasLibrary,publicSchool,urban,schoolSize,readingScore
1,11,1,White,0.0,0.0,1.0,1.0,1.0,1.0,0.0,...,1.0,1.0,1.0,450.0,25.0,1.0,1,0,1173.0,575.01
3,10,0,Black,1.0,1.0,0.0,0.0,1.0,1.0,0.0,...,1.0,1.0,1.0,200.0,23.0,1.0,1,1,2640.0,458.11
4,10,1,Hispanic,1.0,0.0,1.0,0.0,1.0,1.0,0.0,...,1.0,1.0,1.0,250.0,35.0,1.0,1,1,1095.0,613.89
7,10,0,White,1.0,1.0,1.0,0.0,0.0,1.0,0.0,...,1.0,1.0,1.0,300.0,30.0,1.0,1,0,1913.0,439.36
9,10,1,More than one race,1.0,1.0,1.0,1.0,1.0,0.0,0.0,...,1.0,1.0,0.0,294.0,24.0,1.0,1,0,899.0,465.90

In [13]:
## Reset indexing of the df
train.reset_index(inplace=True)
test.reset_index(inplace=True) ##Note reset_index add another column called 'index with the old index cols
train.head(5)

,index,grade,male,raceeth,preschool,expectBachelors,motherHS,motherBachelors,motherWork,fatherHS,...,englishAtHome,computerForSchoolwork,read30MinsADay,minutesPerWeekEnglish,studentsInEnglish,schoolHasLibrary,publicSchool,urban,schoolSize,readingScore
0,1,11,1,White,0.0,0.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,450.0,25.0,1.0,1,0,1173.0,575.01
1,3,10,0,Black,1.0,1.0,0.0,0.0,1.0,1.0,...,1.0,1.0,1.0,200.0,23.0,1.0,1,1,2640.0,458.11
2,4,10,1,Hispanic,1.0,0.0,1.0,0.0,1.0,1.0,...,1.0,1.0,1.0,250.0,35.0,1.0,1,1,1095.0,613.89
3,7,10,0,White,1.0,1.0,1.0,0.0,0.0,1.0,...,1.0,1.0,1.0,300.0,30.0,1.0,1,0,1913.0,439.36
4,9,10,1,More than one race,1.0,1.0,1.0,1.0,1.0,0.0,...,1.0,1.0,0.0,294.0,24.0,1.0,1,0,899.0,465.90

Factor variables are variables that take on a discrete set of values. An ordered factor has a natural ordering between the levels (an example would be the classifications "large," "medium," and "small"). 

Which of the following variables is an unordered factor with at least 3 levels?
Which of the following variables is an ordered factor with at least 3 levels? (Select all that apply

In [14]:
train.grade.value_counts()

10    1730
11     491
9      188
12       3
8        2
Name: grade, dtype: int64

In [15]:
train.male.value_counts()

1    1210
0    1204
Name: male, dtype: int64

In [16]:
train.raceeth.value_counts()

White                                     1470
Hispanic                                   500
Black                                      228
Asian                                       95
More than one race                          81
American Indian/Alaska Native               20
Native Hawaiian/Other Pacific Islander      20
Name: raceeth, dtype: int64

2. To include categorical features in a Linear regression model, we would need to convert the  categories into integers. In python, thisfunctionality is available in DictVectorizer from scikit-learn, or "get_dummies()" function. One Hot encoder is another option.
The difference is as follows:
* OneHotEncoder takes as input categorical values encoded as integers - you can get them from LabelEncoder.
* DictVectorizer expects data as a list of dictionaries, where each dictionary is a data row with column names as keys.
* One can use Patsy another python library.
* get_dummies() is another option

In [17]:
#Using get_dummies()
pd.get_dummies(train.raceeth).head(5)

,American Indian/Alaska Native,Asian,Black,Hispanic,More than one race,Native Hawaiian/Other Pacific Islander,White
0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [18]:
##Use get_dummies and drop the first level to get n-1 categorical levels
pd.get_dummies(train.raceeth,drop_first=True).head(3)
##Note you will need to make sure that its the most common category etc
###Pretty cool..can get dummies for multiple columns as get_dummies can handle a df directly
#and will convert all columns into cateory levels if possible.

,Asian,Black,Hispanic,More than one race,Native Hawaiian/Other Pacific Islander,White
0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.0,1.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0

In [19]:
##We would like to use white as the reference level; so lets do iy one step at a time:
#First create a df with interger levels for reaceeth: Columns for all 7 levels are created
race_train=pd.get_dummies(train.raceeth)
race_test=pd.get_dummies(test.raceeth)
race_train.head(3)
race_test.head(3)

,American Indian/Alaska Native,Asian,Black,Hispanic,More than one race,Native Hawaiian/Other Pacific Islander,White
0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
train.shape

(2414, 25)

In [21]:
race_train.shape
test.shape
race_test.shape

(990, 7)

In [22]:
##Concat the new cols to the original dfs
train=pd.concat([race_train,train],axis=1)
test=pd.concat([race_test,test],axis=1)
train.head(4)

,American Indian/Alaska Native,Asian,Black,Hispanic,More than one race,Native Hawaiian/Other Pacific Islander,White,index,grade,male,...,englishAtHome,computerForSchoolwork,read30MinsADay,minutesPerWeekEnglish,studentsInEnglish,schoolHasLibrary,publicSchool,urban,schoolSize,readingScore
0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1,11,1,...,1.0,1.0,1.0,450.0,25.0,1.0,1,0,1173.0,575.01
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,3,10,0,...,1.0,1.0,1.0,200.0,23.0,1.0,1,1,2640.0,458.11
2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,4,10,1,...,1.0,1.0,1.0,250.0,35.0,1.0,1,1,1095.0,613.89
3,0.0,0.0,0.0,0.0,0.0,0.0,1.0,7,10,0,...,1.0,1.0,1.0,300.0,30.0,1.0,1,0,1913.0,439.36

In [23]:
#Drop the 'white' as well as the original 'raceeth' column. Note: all those rows where all columns are=0 correspond to white=1
train.drop(['White','raceeth'],axis=1,inplace=True)
test.drop(['White','raceeth'],axis=1,inplace=True)

In [24]:
list(train.columns)

['American Indian/Alaska Native',
 'Asian',
 'Black',
 'Hispanic',
 'More than one race',
 'Native Hawaiian/Other Pacific Islander',
 'index',
 'grade',
 'male',
 'preschool',
 'expectBachelors',
 'motherHS',
 'motherBachelors',
 'motherWork',
 'fatherHS',
 'fatherBachelors',
 'fatherWork',
 'selfBornUS',
 'motherBornUS',
 'fatherBornUS',
 'englishAtHome',
 'computerForSchoolwork',
 'read30MinsADay',
 'minutesPerWeekEnglish',
 'studentsInEnglish',
 'schoolHasLibrary',
 'publicSchool',
 'urban',
 'schoolSize',
 'readingScore']

In [25]:
train.head(3)

,American Indian/Alaska Native,Asian,Black,Hispanic,More than one race,Native Hawaiian/Other Pacific Islander,index,grade,male,preschool,...,englishAtHome,computerForSchoolwork,read30MinsADay,minutesPerWeekEnglish,studentsInEnglish,schoolHasLibrary,publicSchool,urban,schoolSize,readingScore
0,0.0,0.0,0.0,0.0,0.0,0.0,1,11,1,0.0,...,1.0,1.0,1.0,450.0,25.0,1.0,1,0,1173.0,575.01
1,0.0,0.0,1.0,0.0,0.0,0.0,3,10,0,1.0,...,1.0,1.0,1.0,200.0,23.0,1.0,1,1,2640.0,458.11
2,0.0,0.0,0.0,1.0,0.0,0.0,4,10,1,1.0,...,1.0,1.0,1.0,250.0,35.0,1.0,1,1,1095.0,613.89

Building a model:
build a linear regression model (call it lmScore) using the training set to predict readingScore using all(the remaining) variables.
This time I want to use sklearn NOT stats models. But first lets get all the answer using statsmodel

In [26]:
features_to_use=[cols for cols in train.columns if cols not in ['readingScore','index']]
features_to_use

['American Indian/Alaska Native',
 'Asian',
 'Black',
 'Hispanic',
 'More than one race',
 'Native Hawaiian/Other Pacific Islander',
 'grade',
 'male',
 'preschool',
 'expectBachelors',
 'motherHS',
 'motherBachelors',
 'motherWork',
 'fatherHS',
 'fatherBachelors',
 'fatherWork',
 'selfBornUS',
 'motherBornUS',
 'fatherBornUS',
 'englishAtHome',
 'computerForSchoolwork',
 'read30MinsADay',
 'minutesPerWeekEnglish',
 'studentsInEnglish',
 'schoolHasLibrary',
 'publicSchool',
 'urban',
 'schoolSize']

In [27]:
y=train.readingScore
X=train[features_to_use]
X=sm.add_constant(X)
lmscore=sm.OLS(y,X)
lmscore=lmscore.fit()

In [28]:
lmscore.summary2()

<class 'statsmodels.iolib.summary2.Summary'>
"""
                              Results: Ordinary least squares
===========================================================================================
Model:                      OLS                      Adj. R-squared:             0.317
Dependent Variable:         readingScore             AIC:                        27647.0896
Date:                       2016-09-04 17:47         BIC:                        27814.9717
No. Observations:           2414                     Log-Likelihood:             -13795.
Df Model:                   28                       F-statistic:                41.04
Df Residuals:               2385                     Prob (F-statistic):         1.72e-180
R-squared:                  0.325                    Scale:                      5448.0
-------------------------------------------------------------------------------------------
                                        Coef.   Std.Err.    t     P>|t|    [0.025   0.975]
-------------------------------------------------------------------------------------------
const                                  143.7663  33.8412   4.2483 0.0000   77.4051 210.1276
American Indian/Alaska Native          -67.2773  16.7869  -4.0077 0.0001 -100.1958 -34.3588
Asian                                   -4.1103   9.2201  -0.4458 0.6558  -22.1905  13.9699
Black                                  -67.0123   5.4609 -12.2713 0.0000  -77.7209 -56.3038
Hispanic                               -38.9755   5.1777  -7.5275 0.0000  -49.1288 -28.8221
More than one race                     -16.9225   8.4963  -1.9918 0.0465  -33.5834  -0.2617
Native Hawaiian/Other Pacific Islander  -5.1016  17.0057  -0.3000 0.7642  -38.4491  28.2459
grade                                   29.5427   2.9374  10.0574 0.0000   23.7826  35.3028
male                                   -14.5217   3.1559  -4.6014 0.0000  -20.7103  -8.3330
preschool                               -4.4637   3.4861  -1.2804 0.2005  -11.2997   2.3723
expectBachelors                         55.2671   4.2939  12.8711 0.0000   46.8469  63.6872
motherHS                                 6.0588   6.0914   0.9946 0.3200   -5.8863  18.0038
motherBachelors                         12.6381   3.8615   3.2729 0.0011    5.0659  20.2102
motherWork                              -2.8091   3.5218  -0.7976 0.4252   -9.7153   4.0971
fatherHS                                 4.0182   5.5793   0.7202 0.4715   -6.9225  14.9589
fatherBachelors                         16.9298   3.9953   4.2375 0.0000    9.0952  24.7643
fatherWork                               5.8428   4.3960   1.3291 0.1839   -2.7775  14.4631
selfBornUS                              -3.8063   7.3237  -0.5197 0.6033  -18.1678  10.5552
motherBornUS                            -8.7982   6.5876  -1.3356 0.1818  -21.7162   4.1199
fatherBornUS                             4.3070   6.2639   0.6876 0.4918   -7.9762  16.5902
englishAtHome                            8.0357   6.8595   1.1715 0.2415   -5.4155  21.4869
computerForSchoolwork                   22.5002   5.7026   3.9456 0.0001   11.3177  33.6827
read30MinsADay                          34.8719   3.4084  10.2310 0.0000   28.1881  41.5557
minutesPerWeekEnglish                    0.0128   0.0107   1.1939 0.2326   -0.0082   0.0338
studentsInEnglish                       -0.2866   0.2278  -1.2582 0.2085   -0.7334   0.1601
schoolHasLibrary                        12.2151   9.2649   1.3184 0.1875   -5.9530  30.3831
publicSchool                           -16.8575   6.7256  -2.5065 0.0123  -30.0461  -3.6688
urban                                   -0.1101   3.9627  -0.0278 0.9778   -7.8809   7.6606
schoolSize                               0.0065   0.0022   2.9769 0.0029    0.0022   0.0108
-------------------------------------------------------------------------------------------
Omnibus:                       8.273                 Durbin-Watson:                   1.998
Prob(Omnibus):                 0.016                 Jarque-Bera (JB):                8.362
Skew:                          -0.141                Prob(JB):                        0.015
Kurtosis:                      2.943                 Condition No.:                   37016
===========================================================================================
* The condition number is large (4e+04). This might indicate             strong
multicollinearity or other numerical problems.
"""

In [29]:
lmscore.summary() ##I think I can use any one of the two summary types

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:           readingScore   R-squared:                       0.325
Model:                            OLS   Adj. R-squared:                  0.317
Method:                 Least Squares   F-statistic:                     41.04
Date:                Sun, 04 Sep 2016   Prob (F-statistic):          1.72e-180
Time:                        17:47:22   Log-Likelihood:                -13795.
No. Observations:                2414   AIC:                         2.765e+04
Df Residuals:                    2385   BIC:                         2.781e+04
Df Model:                          28
Covariance Type:            nonrobust
==========================================================================================================
                                             coef    std err          t      P>|t|      [95.0% Conf. Int.]
----------------------------------------------------------------------------------------------------------
const                                    143.7663     33.841      4.248      0.000        77.405   210.128
American Indian/Alaska Native            -67.2773     16.787     -4.008      0.000      -100.196   -34.359
Asian                                     -4.1103      9.220     -0.446      0.656       -22.191    13.970
Black                                    -67.0123      5.461    -12.271      0.000       -77.721   -56.304
Hispanic                                 -38.9755      5.178     -7.528      0.000       -49.129   -28.822
More than one race                       -16.9225      8.496     -1.992      0.047       -33.583    -0.262
Native Hawaiian/Other Pacific Islander    -5.1016     17.006     -0.300      0.764       -38.449    28.246
grade                                     29.5427      2.937     10.057      0.000        23.783    35.303
male                                     -14.5217      3.156     -4.601      0.000       -20.710    -8.333
preschool                                 -4.4637      3.486     -1.280      0.201       -11.300     2.372
expectBachelors                           55.2671      4.294     12.871      0.000        46.847    63.687
motherHS                                   6.0588      6.091      0.995      0.320        -5.886    18.004
motherBachelors                           12.6381      3.861      3.273      0.001         5.066    20.210
motherWork                                -2.8091      3.522     -0.798      0.425        -9.715     4.097
fatherHS                                   4.0182      5.579      0.720      0.471        -6.923    14.959
fatherBachelors                           16.9298      3.995      4.237      0.000         9.095    24.764
fatherWork                                 5.8428      4.396      1.329      0.184        -2.778    14.463
selfBornUS                                -3.8063      7.324     -0.520      0.603       -18.168    10.555
motherBornUS                              -8.7982      6.588     -1.336      0.182       -21.716     4.120
fatherBornUS                               4.3070      6.264      0.688      0.492        -7.976    16.590
englishAtHome                              8.0357      6.859      1.171      0.242        -5.415    21.487
computerForSchoolwork                     22.5002      5.703      3.946      0.000        11.318    33.683
read30MinsADay                            34.8719      3.408     10.231      0.000        28.188    41.556
minutesPerWeekEnglish                      0.0128      0.011      1.194      0.233        -0.008     0.034
studentsInEnglish                         -0.2866      0.228     -1.258      0.208        -0.733     0.160
schoolHasLibrary                          12.2151      9.265      1.318      0.187        -5.953    30.383
publicSchool                             -16.8575      6.726     -2.506      0.012       -30.046    -3.669
urban                                     -0.1101      3.963     -0.028      0.978        -7.881     7.661
schoolSize                                 0.0065      0.002      2.977      0.003         0.002     0.011
==============================================================================
Omnibus:                        8.273   Durbin-Watson:                   1.998
Prob(Omnibus):                  0.016   Jarque-Bera (JB):                8.362
Skew:                          -0.141   Prob(JB):                       0.0153
Kurtosis:                       2.943   Cond. No.                     3.70e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.7e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [30]:
#residuals of the model;
lmscore.resid.head(4)

0     36.317872
1    -37.516051
2    177.011875
3   -126.773978
dtype: float64

In [31]:
rmse=math.sqrt((lmscore.resid**2).mean()) 
print rmse

73.365551433

#### What is the Multiple R-squared value of lmScore on the training set
* 0.3254

#### What is the training-set root-mean squared error (RMSE) of lmScore?
* 73.8108

#### Consider two students A and B. They have all variable values the same, except that student A is in grade 11 and student B is in grade 9. What is the predicted reading score of student A minus the predicted reading score of student B?
* Ans: 58.98. Since the coeff of grade is +29.49; for 2 grade levels; it is double the coeff.

#### What is the meaning of the coefficient associated with variable raceethAsian?
*  Predicted difference in the reading score between an Asian student and a white student who is otherwise identical

#### Based on the significance values, which variables are candidates for removal from the model? 
Assume that the factor variable raceeth should only be removed if none of its levels are significant.)

In [34]:
lmscore.pvalues[lmscore.pvalues >0.05]

Asian                                     0.655781
Native Hawaiian/Other Pacific Islander    0.764208
preschool                                 0.200516
motherHS                                  0.320012
motherWork                                0.425167
fatherHS                                  0.471470
fatherWork                                0.183934
selfBornUS                                0.603307
motherBornUS                              0.181821
fatherBornUS                              0.491776
englishAtHome                             0.241527
minutesPerWeekEnglish                     0.232644
studentsInEnglish                         0.208460
schoolHasLibrary                          0.187487
urban                                     0.977830
dtype: float64

#### So all the above variables are candidates for removal except Asian/Native Hawaiian

#### Predicting on unseen data:
Using the "predict" function and supplying the "newdata" argument, use the lmScore model to predict the reading scores of students in pisaTest. Call this vector of predictions "predTest". Do not change the variables in the model (for example, do not remove variables that we found were not significant in the previous part of this problem). Use the summary function to describe the test set predictions.

What is the range between the maximum and minimum predicted reading score on the test set?

In [35]:
lmscore.predict(X)

array([ 538.69212789,  495.62605148,  436.8781249 , ...,  447.98990547,
        468.91289474,  557.36336867])

In [44]:
X_test=test[features_to_use]
X_test=sm.add_constant(X_test)
X_test_pred=lmscore.predict(X_test)
y_test=test.readingScore

In [45]:
min(X_test_pred)

353.2231231139566

#### What is the range between the maximum and minimum predicted reading score on the test set

In [46]:
max(X_test_pred)-min(X_test_pred)

284.46831179513288

#### Test set SSE and RMSE:
What is the sum of squared errors (SSE) of lmScore on the testing set?

In [47]:
SSE=((lmscore.predict(X_test)-y_test)**2).sum()
SSE

5762082.371144367

What is the RSME of lmScore on the testing set?

In [48]:
math.sqrt(((lmscore.predict(X_test)-y_test)**2).mean())

76.29079383109176

#### Problem 4.3 - Baseline prediction and test-set SSE

What is the predicted test score used in the baseline model? Remember to compute this value using the training set and not the test set.

In [49]:
##baseline is the average of the training scores:
## Note this what is used to calculate Total sum of sqaures
y.mean()

517.9628873239429

What is the sum of squared errors of the baseline model on the testing set? HINT: We call the sum of squared errors for the baseline model the total sum of squares (SST).

In [50]:
#This can be computed as:
SST=((y.mean() - test.readingScore)**2).sum()
print SST

7802354.07761

What is the test-set R-squared value of lmScore?

In [51]:
#The test-set R^2 is defined as 1-SSE/SST, where SSE is the sum of squared errors of the model on the test set and SST is the sum of squared errors of the baseline model. For this model, the R^2 is then computed to be 1-5762082/7802354.

R_sq=1.0-(SSE/SST)
R_sq

0.26149437543770626